@media (min-width: 767px) {
    html body {
        background: url(/themes/custom/pegasus/images/Gym.mp4) fixed #333;
    }
    .bottom-widgets {
        min-height: 450px;
    }
    .content .contact-form {
        font-size: 25px;
    }
    video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    }
}
